// Timing
$transition-time--fast: .2s;
$transition-time: .3s;
$transition-time--slow: .4s;

$breakpoints: (
    'xs': 480px,  // 30em
    'sm': 640px,  // 40em
    'md': 768px,  // 48em
    'lg': 992px,  // 62em
    'xl': 1136px, // 71em
);

// Site Header Heights
$site-header-height: 5.125rem;
$site-header-height--desktop: 6.5rem;
$site-header-height--shrunk: 4.375rem;

// colors
$color-teal: #2ad2a9;
$color-yellow: #ffeb2b;
$color-peach: #ff8767;
$color-purple: #7a5fc4;
$color-blue: #6290e7;

$color-gray-900: #0d0d0d;
$color-gray-800: #2e2d2c;
$color-gray-700: #434343;
$color-gray-600: #5a5a5a;
$color-gray-500: #777777;
$color-gray-400: #929292;
$color-gray-300: #adadad;
$color-gray-200: #dcdcdc;
$color-gray-100: #f0f0f0;

// Fonts
$font-sans-fallback: sans-serif;
